RewriteEngine On
RewriteBase /

# Se o arquivo ou diretório não existir
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

# Permitir acesso aos arquivos PHP
<FilesMatch "\.php$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Configurações de CORS
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
Header set Access-Control-Allow-Headers "Content-Type"
